<div class="container">
  <div class="dndPlaceholder col-md-12" #placeholder></div>
  <form [formGroup]="form" *ngIf="false">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
      </thead>
      <!--      this.form7.get('rangArray')['controls'][index]['controls']['program'].enable();-->
      <tbody formArrayName="lessons" [dndList] [dndPlaceholder]="placeholder" [dndModel]="form.get('lessons')?.value">
      <tr *ngFor="let lessonForm of lessons.controls; let i = index" [formGroupName]="i"
          [dndDraggable] [dndType]="'lessonForm'" (dndMoved)="removeItem(lessonForm, form.get('lessons')?.value)"
          [dndObject]="lessonForm"
      >
        <th scope="row">{{ i + 1 }}</th>
        <td>
          <input formControlName="input1" type="text" placeholder="Input 1">
        </td>
        <td>
          <input formControlName="input2" type="text" placeholder="Input 2">
        </td>
        <td>
          <input formControlName="input3" type="text" placeholder="Input 3">
        </td>
      </tr>
      </tbody>
    </table>
  </form>

  <button (click)="addLesson()">
    Dodaj
  </button>

  <table class="table" *ngIf="false">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
    </tr>
    </thead>
    <tbody
      [dndList]
      [dndPlaceholder]="placeholder"
      [dndModel]="simpleList">
    <tr *ngFor="let item of simpleList; let index = index;"
        class="col-md-12"
        [dndType]="'item'"
        (dndMoved)="removeItem(item, simpleList)"
        [dndDraggable]
        [dndObject]="item"
    >
      <td>{{ item }}</td>
      <td>{{item.name}}</td>
    </tr>
    </tbody>
  </table>

  <form [formGroup]="form" *ngIf="true">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Handle</th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody  formArrayName="lessons" >
        <tr *ngFor="let lessonForm of lessons.controls; let i = index; let first = first; let last = last" [formGroupName]="i" class="test-class">
          <th scope="row">{{ i + 1 }}</th>
          <td>
            <input formControlName="input1" type="text" placeholder="Input 1">
          </td>
          <td>
            <input formControlName="input2" type="text" placeholder="Input 2">
          </td>
          <td>
            <input formControlName="input3" type="text" placeholder="Input 3">
          </td>
          <td>
            <button id="up" class="up btn btn-info" (click)="moveUp(i)" *ngIf="!first">
              Gor
            </button>
            <button id="down" class="down btn btn-warning" (click)="moveDown(i)" *ngIf="!last">
              Dol
            </button>
          </td>
        </tr>
        </tbody>
      </table>
  </form>
</div>

<div>

</div>
